@use "sass:math";
//======================================== Підключення міксінів =================================================
@import "./utils/mixins";
//======================================== Підключення шрифтів ==================================================
//&display=swap - додати при підключенні через плагін
// @import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

// Підключити, якщо є локальні файли шрифтів
@import "./base/fonts/fonts";

//======================================== Підключення іконкових шрифтів ========================================
// Підключити, якщо є файл іконкового шрифту
// @import "./base/fonts/icons";

//?======================================== За замовчуванням шрифт ==============================================

$fontFamily: "Helvetica", sans-serif;
$fontSize: rem(16);

$mainColor: #5c5c5e;
$background-color: #f6f4f5;

//======================================== Налаштування адаптивної сітки ========================================
@import "./base/adaptive";
//======================================== Обнулення ============================================================
@import "./base/zeroing";
@import "./base/settings";
//======================================== Wrapper ==============================================================
@import "./base/wrapper";
//======================================== Налаштування контейнера ==============================================
@import "./utils/container";
//======================================== Підключення змінних ==================================================
@import "./utils/variable";
//======================================== Підключення плейсхолдерів ============================================
@import "./utils/placeholder";
//======================================== Підключення сторінок =================================================
@import "./page/index";

//======================================== Підключення components ===============================================
@import "./components/button";
@import "./components/tabs";
@import "./components/basket";
//======================================== Підключення layout ===================================================
@import "./layout/header";
@import "./layout/footer";
//===============================================================================================================
