// Шаблони (заготівлі)
// @extend %ім'я шаблону;
// Сніппет (SCSS): ex

%noselect {
   user-select: none;
}
%colorText {
   background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}
