.footer {
   border-top: rem(1) solid #cacad6;
   border-bottom: rem(1) solid #cacad6;
   // .footer__container
   &__container {
   }
   // .footer__inner
   &__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      padding: rem(30) 0;
      gap: rem(20);
      @media (max-width: $mobile) {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
      }
   }
   // .footer__navigation
   &__navigation {
      @media (max-width: $mobileSmall) {
         justify-self: center;
      }
   }
   // .footer__logo
   &__logo {
      justify-self: center;
      img {
         max-width: 100%;
         height: auto;
      }
   }
   // .footer__list
   &__list {
      display: flex;
      align-items: center;
      justify-self: end;
      @media (max-width: $mobileSmall) {
         justify-self: center;
      }
      flex-wrap: wrap;
      gap: rem(20);
   }
}
//===============================================================================================================
.navigation-footer {
   // .navigation-footer__list
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include adaptiveValue("gap", 20, 10);
   }
   // .navigation-footer__item
   &__item {
   }
   // .navigation-footer__link
   &__link {
      position: relative;

      font-weight: 400;
      line-height: math.div(16, 18);

      padding: rem(10) 0;
      transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;

         display: block;
         width: 100%;
         height: rem(5);
         background-color: #bc10d8;
         border-radius: rem(5);
         transform-origin: left;
         transform: scaleX(0);
         transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover::after {
         transform: scaleX(1);
      }
      @media (any-hover: hover) {
         &:hover {
            color: #bb8002;
         }
      }
   }
}
//===============================================================================================================
.social-footer {
   // .social-footer__item
   &__item {
   }
   // .social-footer__link
   &__link {
      position: relative;

      width: rem(30);
      height: rem(30);

      display: inline-block;
      justify-content: center;
      align-items: center;
      text-align: center;

      border-radius: 50%;
      background-color: #f0e7fe;
      text-align: center;
      transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: scale(1);
      border: rem(0.7) solid #bc10d8;
      z-index: inherit;

      &:after {
         position: absolute;
         content: "";
         width: rem(20);
         height: rem(20);
         border-radius: 50%;
         padding: rem(15);
         border: rem(0.7) solid #bc10d8;
         top: -5%;
         left: -5%;
         z-index: 0;
         transform: scale(1);
         opacity: 40%;
         animation: 2s ease-in-out infinite pulsar;
         transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
         pointer-events: none;
         visibility: hidden;
      }
      &::before {
         position: absolute;
         content: "";
         top: -5%;
         left: -5%;
         display: inline-block;
         width: rem(20);
         height: rem(20);
         padding: rem(15);
         border-radius: 50%;
         opacity: 50%;
         border: rem(0.7) solid #bc10d8;
         transform: scale(1);
         z-index: 0;
         animation: 2s ease-in-out 0.5s infinite pulsar;
         transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
         pointer-events: none;
         visibility: hidden;
      }

      &:hover {
         transform: scale(1.3);
         color: #bc10d8;
      }
      &:hover::before,
      &:hover::after {
         visibility: visible;
         filter: blur(0.5px);
      }
   }
}
