.header {
   background-color: $background-color;
   border-bottom: rem(1) solid #cacad6;
   @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
   }
   // .header__container
   &__container {
   }
   // .header__burger
   &__burger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(5) 0;
      min-height: rem(80);
      @include adaptiveValue("min-height", 80, 60, 0, 1200, 768);
      gap: rem(10);
   }
   // .header__logo
   &__logo {
      z-index: 5;
      img {
         max-width: 100%;
         height: auto;
      }
   }
   // .header__basket
   &__basket {
      padding: rem(5);
      svg {
         width: rem(24);
         height: rem(24);
         fill: currentColor;
      }
      span {
         display: none;
      }
   }
}
//===============================================================================================================
.burger {
   // .menu__navigation
   &__navigation {
      @media (max-width: $mobile) {
         position: fixed;
         top: 0;
         left: 0;
         transform: translateX(-110%);
         visibility: hidden;
         opacity: 0;

         width: 100%;
         height: 100%;
         overflow: auto;
         transition: all 0.4s ease 0s;
         background-color: #7c7c7c;
         padding: rem(90) rem(15) rem(30) rem(15);
         html.active & {
            transition: all 0.4s ease 0s;
            transform: translate(0);
            visibility: visible;
            opacity: 1;
            z-index: 5;
         }
      }
   }
   // .burger__list
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(20);
      @media (max-width: $mobile) {
         flex-direction: column;
         align-items: flex-start;
         @include adaptiveValue("gap", 30, 20);
      }
   }
   // .burger__item
   &__item {
   }
   // .burger__link
   &__link {
      position: relative;
      font-weight: 400;
      font-size: rem(20);
      line-height: math.div(20, 22);
      padding: rem(5) 0;
      color: #000;
      z-index: 5;
      transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
      @media (max-width: $mobile) {
         font-size: rem(32);
         color: #fff;
      }
      transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;

         display: block;
         width: 100%;
         height: 5px;
         background-color: #bc10d8;
         border-radius: 5px;
         transform-origin: left;
         transform: scaleX(0);
         transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover::after {
         transform: scaleX(1);
      }
      @media (any-hover: hover) {
         &:hover {
            color: #bb8002;
         }
      }
   }
}
//===============================================================================================================
.burger {
   // .burger__button
   &__button {
      display: none;
      @media (max-width: $mobile) {
         display: block;
         position: relative;
         width: rem(30);
         height: rem(18);
         z-index: 6;
         @media (any-hover: none) {
            cursor: default;
         }
         span,
         &::before,
         &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: #000;
            z-index: 6;
         }
         &::before {
            top: 0;
         }
         &::after {
            bottom: 0;
         }
         span {
            top: calc(50% - rem(1));
         }
         html.active & {
            span {
               width: 0;
            }
            &::before,
            &::after {
               background-color: #fff;
            }
            &::before {
               top: calc(50% - rem(1));
               transform: rotate(-45deg);
            }
            &::after {
               bottom: calc(50% - rem(1));
               transform: rotate(45deg);
            }
         }
      }
   }
}
