.accessories {
   @include adaptiveValue("padding-top", 50, 25);
   @include adaptiveValue("padding-bottom", 50, 25);
   // .accessories__container
   &__container {
   }
   // .accessories__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 30, 15);
      }
      @media (max-width: $mobile) {
         text-align: center;
      }
   }
   // .accessories__text
   &__text {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 30, 15);
      }
      @media (max-width: $mobile) {
         text-align: center;
      }
   }
   // .accessories__items
   &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: rem(10);
      @media (max-width: $mobile) {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
         grid-column-gap: 30px;
         grid-row-gap: 20px;
      }
      @media (max-width: $mobileSmall) {
         grid-template-columns: 290px;
         grid-template-rows: repeat(4, 1fr);
         justify-content: center;
         gap: rem(10);
      }
   }
   // .accessories__item
   &__item {
      border: rem(1) solid;
      border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
   }
}
.article-accessories {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   @include adaptiveValue("padding", 20, 10);
   height: 100%;

   // .article-accessories__picture
   &__picture {
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
      img {
         max-width: 100%;
         object-fit: cover;
         height: auto;
      }
   }
   // .article-accessories__title
   &__title {
      font-weight: 700;
      @media (max-width: $mobileSmall) {
         text-align: center;
      }
      @include adaptiveValue("font-size", 24, 20, 0, 1200, 768);
      line-height: math.div(24, 25);
      @include adaptiveValue("flex-basis", 56, 40);
      color: #070707;
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }
   // .article-accessories__text
   &__text {
      font-weight: 400;
      line-height: math.div(16, 18);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 40, 20, 0, 1200, 768);
      }
   }
   // .article-accessories__price
   &__price {
      font-weight: 700;
      line-height: math.div(16, 9);
      margin-top: auto;
      color: #070707;
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }
   // .article-accessories__button
   &__button {
      position: relative;

      display: inline-block;
      justify-content: center;
      align-items: center;
      padding: rem(6);

      width: 100%;

      font-weight: 700;
      line-height: math.div(16, 18);
      text-transform: uppercase;
      color: #bc10d8;

      transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 1;
      &:before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: #fff;
         z-index: -1;
         transition: 0.5s;
      }
      &:after {
         content: "";
         position: absolute;
         top: calc(-1 * 3px);
         left: calc(-1 * 3px);
         height: calc(100% + 3px * 2);
         width: calc(100% + 3px * 2);
         background: linear-gradient(60deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
         animation: animatedgradient 3s ease alternate infinite;
         background-size: 300% 300%;
         z-index: -2;
      }
      @media (any-hover: hover) {
         &:hover {
            color: #fff;
            &:before {
               width: 0%;
            }
         }
      }
   }
}
