.features {
   @include adaptiveValue("padding-top", 100, 25);
   @include adaptiveValue("padding-bottom", 50, 25);

   // .features__container
   &__container {
   }

   // .features__inner
   &__inner {
      display: flex;
      gap: rem(20);
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      @media (max-width: $mobile) {
         flex-direction: column;
         align-items: center;
         text-align: center;
      }
   }

   // .features__title
   &__title {
      @media (min-width: $mobile) {
         flex-basis: rem(300);
      }
   }

   // .features__text
   &__text {
      max-width: rem(330);
   }
}
