.games {
   @include adaptiveValue("padding-top", 50, 25);
   @include adaptiveValue("padding-bottom", 50, 25);
   // .games__container
   &__container {
   }
   // .games__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 50, 25);
      }
      @media (max-width: $tablet) {
         text-align: center;
      }
   }
   // .games__inner
   &__inner {
      display: grid;
      grid-template-columns: rem(290) auto;
      gap: rem(10);
      @media (max-width: $tablet) {
         display: flex;
         flex-direction: column-reverse;
         align-items: center;
         gap: rem(30);
      }
   }
   // .games__content
   &__content {
      text-align: center;
   }
   // .games__items
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @media (max-width: $tablet) {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(3, 1fr);
         gap: rem(20);
      }
   }
   // .games__article
   &__article {
      display: flex;
      flex-direction: column;
      border: rem(1) solid;
      border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;

      &:nth-child(1) {
         background-image: url(../img/section__games/games-1.jpg);
         @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../img/section__games/games-1@2x.jpg");
         }
      }
      &:nth-child(2) {
         background-image: url(../img/section__games/games-2.jpg);
         @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../img/section__games/games-2@2x.jpg");
         }
      }
      &:nth-child(3) {
         background-image: url(../img/section__games/games-3.jpg);
         @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../img/section__games/games-3@2x.jpg");
         }
      }
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include adaptiveValue("padding-top", 140, 52);
      max-width: rem(290);
      overflow: hidden;

      transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
         transform: scale(0.97);
      }
      &:hover .article-games__title::after {
         transform: scaleX(1);
      }
   }
}
//===============================================================================================================
.games-content {
   // .games-content__text
   &__text {
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }
   // .games-content__subtext
   &__subtext {
      font-weight: 400;
      line-height: math.div(16, 13);
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   // .games-content__button
   &__button {
      position: relative;

      display: inline-block;
      justify-content: center;
      align-items: center;
      padding: rem(17) rem(48);

      @media (max-width: $mobileSmall) {
         width: 100%;
      }

      font-weight: 700;
      line-height: math.div(16, 18);
      text-transform: uppercase;

      span {
         background: linear-gradient(60deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
         text-fill-color: transparent;
         animation: animatedgradient 3s ease alternate infinite;
         transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
         background-size: 300% 300%;
      }

      transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 1;
      &:before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: #fff;
         z-index: -1;
         transition: all 0.5s ease 0s;
      }
      &:after {
         content: "";
         position: absolute;
         top: calc(-1 * 3px);
         left: calc(-1 * 3px);
         height: calc(100% + 3px * 2);
         width: calc(100% + 3px * 2);
         background: linear-gradient(60deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
         animation: animatedgradient 3s ease alternate infinite;
         background-size: 300% 300%;
         z-index: -2;
      }
      &:hover {
         &:before {
            width: 0%;
         }
         & span {
            background: #fff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
         }
      }
   }
}
//===============================================================================================================
.article-games {
   &__content {
      display: flex;
      flex-direction: column;
      padding: rem(20);
      height: 100%;
      flex: 1 1 auto;
      transform: translateY(65%);
      background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.3) 20%, hsl(0 0% 0% / 1));
      transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   // .article-games__title
   &__title {
      position: relative;

      font-weight: 400;
      font-size: rem(22);
      line-height: math.div(22, 27);
      color: #fff;

      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      &::after {
         content: "";
         position: absolute;
         height: rem(2.5);
         width: calc(100% + rem(20));
         left: calc(rem(20) * -2);
         bottom: rem(-5.5);
         transform-origin: left;
         border-radius: rem(5);
         background-color: #fff;
         transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
      }
   }
   // .article-games__text
   &__text {
      font-weight: 400;
      line-height: math.div(16, 14);
      flex-basis: rem(80);
      color: #ffffffe6;
      &:not(:last-child) {
         margin-bottom: rem(25);
      }
   }
   // .article-games__button
   &__button {
      display: inline-block;
      justify-content: center;
      align-items: center;

      max-width: rem(130);
      padding: rem(8) rem(20);
      border-radius: rem(5);
      background-color: #fff;
      color: #bc10d8;

      transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
         background-color: #bc10d8;
         color: #fff;
      }
   }
}
//===============================================================================================================
@media (hover) {
   .article-games__content {
      transform: translateY(70%);
      transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .games__article:hover .article-games__content,
   .games__article:focus-within .article-games__content {
      transform: translateY(0%);
      transition-delay: 500ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .games__article:focus-within .article-games__content {
      transition-duration: 100ms;
   }

   .article-games__content > *:not(.article-games__title) {
      opacity: 0;
      transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) linear;
   }

   .games__article:hover .article-games__content > *:not(.article-games__title),
   .games__article:focus-within .article-games__content > *:not(.article-games__title) {
      opacity: 1;
      transition-delay: 600ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .article-games__title::after {
      transform: scaleX(0);
   }
}
